@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	background-color: #f5f5f5;
}

h1 {
	color: #000;
	text-align: center;
	width: auto;
}

form {
	margin: 0 auto;
	width: 480px;
	padding: 20px;
	border: 1px solid #ccc;
	box-shadow: 0 0 10px #ccc;
	background-color: #fff;
	border-radius: 5px;
}

table {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

td {
	padding: 10px 5px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="tel"]
	{
	width: 100%;
	height: 28px;
	padding: 3px 6px;
	font-size: 14px;
	border: 1px solid #ccc;
	border-radius: 3px;
	outline: none;
	transition: border-color .2s ease-in-out;
}

input[type="submit"] {
	width: 100%;
	height: 32px;
	font-size: 16px;
	color: #fff;
	background-color: #444;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color .2s ease-in-out;
}

input[type="submit"]:hover {
	background-color: #333;
}

.error {
	color: red;
	margin-top: 20px;
	text-align: center;
}

.error-box {
	background-color: #ffab91;
	padding: 10px;
	margin: auto;
	margin-bottom: 10px;
	border-radius: 5px;
	width: 33%;
	text-align: center;
}

.error-message {
	font-size: 16px;
	color: #f00;
	font-size: 16px;
}