<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>BookManagerSystem</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>login.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>servlet/LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/loginservlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BookServlet</servlet-name>
		<servlet-class>servlet/BookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookServlet</servlet-name>
		<url-pattern>/bookservlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BorrowerServlet</servlet-name>
		<servlet-class>servlet/BorrowerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BorrowerServlet</servlet-name>
		<url-pattern>/borrowerservlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SavePersonalInfoServlet</servlet-name>
		<servlet-class>servlet/SavePersonalInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SavePersonalInfoServlet</servlet-name>
		<url-pattern>/savepersonalinfoservlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ChangePasswordServlet</servlet-name>
		<servlet-class>servlet/ChangePasswordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangePasswordServlet</servlet-name>
		<url-pattern>/changepasswordservlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>servlet/RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/registerservlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BorrowServlet</servlet-name>
		<servlet-class>servlet/BorrowServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BorrowServlet</servlet-name>
		<url-pattern>/borrowservlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ReturnServlet</servlet-name>
		<servlet-class>servlet/ReturnServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReturnServlet</servlet-name>
		<url-pattern>/returnservlet</url-pattern>
	</servlet-mapping>
</web-app>